.ingredients-list {
  background: #fecea8;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.ingredient {
  border: 1px #e84a5f solid;
  border-radius: 5%;
  box-shadow: 1.25px 2.5px rgb(140, 140, 140);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 5px;
  margin-block: 5px;
  width: 40%;
}

.ingredient-name {
  background: #ff847c;
  border: 1px #e84a5f solid;
  border-radius: 5%;
  font-size: 13px;
  height: 30px;
  text-align: center;
  width: 142px;
}

.ingredient-img {
  display: block;
  height: 161px;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  width: 50%;
}
