.all {
  padding: 5px;
  width: 100%;
}

a {
  color: black;
  text-decoration: none;
}

.star-recipe-btn {
  background: #fecea8;
  bottom: 0;
  left: 50%;
  position: fixed;
  text-align: center;
  transform: translateX(-50%);
  width: 200px;
  z-index: 3;
}

.media-btn {
  background: transparent;
  border: 0;
}

/* .media-btn-img {
  height: 26px;
  width: 26px;
} */

.recipe-photo {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.video-frame {
  width: 95%;
}

.instructions {
  padding-left: 5px;
  padding-right: 10px;
}

.copied-link {
  background: #ff847c;
  border-radius: 5%;
  bottom: 25%;
  left: 0;
  opacity: 0;
  padding: 5px;
  position: fixed;
  transition: 1s;
  visibility: hidden;
}

.copied-link.copied-link--active {
  bottom: 45%;
  opacity: 1;
  transition: 1s;
  visibility: visible;
}
