.all {
  padding: 5px;
  width: 100%;
}

a {
  color: black;
  text-decoration: none;
}

.star-recipe-btn {
  bottom: 0;
  left: 50%;
  position: fixed;
  text-align: center;
  transform: translateX(-50%);
  width: 120px;
  z-index: 3;
}

.media-btn {
  background: transparent;
  border: 0;
  object-fit: fill;
}

.recipe-photo {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.video-frame {
  width: 95%;
}

.instructions {
  padding-left: 5px;
  padding-right: 10px;
}
