.recommended.active {
  opacity: 1;
  transition-duration: 0.5s;
  visibility: visible;
  z-index: 1;
}

.recommended {
  opacity: 0;
  position: absolute;
  visibility: hidden;
  box-sizing: border-box;
}

.recommended:hover {
  transform: translateY(-10px);
  transition-duration: 1s;
}

.card-title {
  color: black;
  padding-left: 5px;
  text-decoration: none;
}

.carousel {
  height: 240px;
  width: 350px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  bottom: 10px;
  /* transform: translateX(-50%); */
}

.carousel-container {
  display: flex;
  /* transform: translateX(-50%); */
  flex-wrap: wrap;
  width: 350px;
  justify-content: center;
  box-sizing: border-box;
}

.slider {
  background: #b1b1b194;
  border: 0;
  border-radius: 10%;
  height: 50px;
  position: absolute;
  transform: translateY(175%);
  z-index: 2;
}

.slider.previous {
  left: 15px;
}

.slider.next {
  right: 15px;
}
