.recommended-image {
  border-radius: 1%;
  height: 155px;
  left: 50%;
  object-fit: cover;
  width: 100%;
}

.recommended.active {
  opacity: 1;
  transition-duration: 0.5s;
  z-index: 1;
}

.recommended {
  border: 1px solid rgba(155, 155, 155, 0.527);
  border-radius: 1%;
  opacity: 0;
  position: absolute;
}

.recommended:hover {
  transform: translateY(-10px);
  transition-duration: 1s;
}

.recommended.left {
  left: 10px;
}

.recommended.right {
  right: 10px;
}

.card-title {
  color: black;
  padding-left: 5px;
  text-decoration: none;
}

.carousel {
  height: 240px;
  padding-bottom: 40px;
}

.carousel-container {
  display: flex;
  flex-wrap: wrap;
}

.slider {
  background: #b1b1b194;
  border: 0;
  border-radius: 10%;
  height: 50px;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  z-index: 2;
}

.slider.previous {
  left: 0;
}

.slider.next {
  right: 0;
}
