.done-card:hover {
  transform: translateY(-10px);
  transition-duration: 1s;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
}

.recipe-type {
  color: rgb(169, 175, 175);
  text-transform: capitalize;
}

.card-image {
  margin-right: 10px;
}

.badge {
  background-color: rgb(236, 174, 149);
  color: black;
}

.copied-link {
  position: absolute;
}

span {
  min-width: 0;
}
