.done-card {
  align-content: flex-start;
  background-color: white;
  border: 1px solid rgba(199, 95, 10, 0.685);
  border-radius: 10px;
  box-shadow: 2px 2px 1px rgba(253, 142, 50, 0.2);
  display: flex;
  flex-flow: column row;
  flex-grow: 1;
  font-size: 0.8em;
  height: 130px;
  margin: 10px;
}

.done-card:hover {
  transform: translateY(-10px);
  transition-duration: 1s;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
}

.recipe-type {
  color: rgb(169, 175, 175);
  text-transform: capitalize;
}

.card-image {
  margin-right: 10px;
}

.badge {
  background-color: rgb(236, 174, 149);
  color: black;
}

.copied-link {
  position: relative;
}

span {
  min-width: 0;
}
